# Default index is index.htm
DirectoryIndex index.htm index.html index.html.var

# Fancy list
IndexOptions FancyIndexing VersionSort

# SSI for .htm
Options +Includes
AddType text/html .htm
AddOutputFilter INCLUDES .htm
SetOutputFilter INCLUDES

# Rewrite rule: pjsip.org/trac ==> https://docs.pjsip.org
RewriteEngine on
RewriteRule   trac(.*)             https://docs.pjsip.org

# Rewrite 
RewriteRule   "/pjlib/(.*)"       "https://docs.pjsip.org/en/latest/api/pjlib/"  [R,L]
RewriteRule   "/pjlib-util(.*)"   "https://docs.pjsip.org/en/latest/api/pjlib-util/"  [R,L]
RewriteRule   "/pjnath(.*)"       "https://docs.pjsip.org/en/latest/api/pjnath/"  [R,L]
RewriteRule   "/pjmedia(.*)"      "https://docs.pjsip.org/en/latest/api/pjmedia/"  [R,L]
RewriteRule   "/pjsip/(.*)"       "https://docs.pjsip.org/en/latest/api/pjsip/"  [R,L]
